.bookcart {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  border-radius: 10px;
  width: 15%;
  margin: 20px;
  position: relative;

  .book {
    width: 100%;
    margin-top: 50px;

    div {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }

  .like-button {
    position: absolute;
    right: 0;
    top: 0;
  }

  .btn {
    border: none;
    color: #fff;
    background: none;
    cursor: pointer;
    padding: 15px;
    font-weight: 700;
    outline: none;
    position: relative;
    background-color: #000;
    transition: all 0.3s;
    border-radius: 6px;
    margin-top: 30px;
    display: block;

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      transition: all 0.3s;
    }
  }

  .btn-2 {
    &:before {
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      line-height: 3;
      font-size: 140%;
      width: 60px;
    }
  }

  .edit-icon {
    position: absolute;
    top: 0px;
    right: 42px;
    opacity: 0;
    cursor: pointer;
    font-size: 24px;
    transition: opacity 0.3s ease-in-out;
    color: #000;
    transform: rotate(129deg);
    text-decoration: none;
  }

  .icon-trash{
    position: absolute;
    top: 0px;
    right: 74px;
    opacity: 0;
    cursor: pointer;
    font-size: 24px;
    transition: opacity 0.3s ease-in-out;
    color: #000;
    transform: rotate(1deg);
    text-decoration: none;
    
  }
  &:hover {
    .edit-icon,.delete-icon {
      opacity: 1;
    }
  }
  
  
}