/* styles/Header.scss */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;

  h1 {
    font-size: 2rem;
    margin: 0;
    color: #fff;
  }

  .header-icons {
    display: flex;
    gap: 47px;

    .cart-icon, .history-icon {
      cursor: pointer;
      position: relative;
    }

    .cart-count, .history-bell {
      position: absolute;
      top: -5px;
      right: -5px;
      color: white;
      border-radius: 50%;
      padding: 5px;
      font-size: 12px;
      background-color: red; /* Assuming you want a red background for count/bell */
    }
  }

  nav {
    width: 60%;
    
    .navbar {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      width: 100%;
      list-style: none;
      padding: 0;
      
      li {
        position: relative;
        padding: 10px;
        display: inline-block;
        cursor: pointer;
        overflow: hidden;

        &.active {
          font-weight: bold;
          color: #008cba;
        }

        a {
          text-decoration: none;
          color: #fff;
          padding: 10px;
          display: block;
        }

        /* Creating the animated border effect ONLY when active */
        &.active::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 2px solid #008cba; /* Border color */
          border-radius: 10px;
          box-sizing: border-box;
          animation: borderAnimation 4s infinite linear;
        }
      }
    }
  }
  .profile-photo {
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  .profile-popup {
    position: absolute;
    top: 98px;
    right: 1px;
    background-color: white;
    color: black;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100px;
    width: 100%;
    button {
      margin-top: 10px;
      padding: 8px;
      background-color: #f44336;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #d32f2f;
      }
    }
  }
}

/* Animation for the border effect */
@keyframes borderAnimation {
  0% {
    transform: scaleX(0) scaleY(0);
    transform-origin: top left;
  }
  25% {
    transform: scaleX(1) scaleY(0);
    transform-origin: top left;
  }
  50% {
    transform: scaleX(1) scaleY(1);
    transform-origin: bottom right;
  }
  75% {
    transform: scaleX(0) scaleY(1);
    transform-origin: bottom right;
  }
  100% {
    transform: scaleX(0) scaleY(0);
    transform-origin: top left;
  }
}
