$primary-color: #333;
$secondary-color: #555;
$tertiary-color: #666;
$background-color: #f4f7fc;
$card-background-color: #fff;
$border-color: #eee;
$font-family: 'Arial', sans-serif;

.purchase-history-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $background-color;
  font-family: $font-family;
}

.purchase-history-card {
  background-color: $card-background-color;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  text-align: center;

  .title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: $primary-color;
  }

  h3 {
    color: $secondary-color;
  }

  .purchase-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    text-align: left;

    .purchase-item {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid $border-color;

      &:last-child {
        border-bottom: none;
      }

      .item-details {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .item-title {
          font-weight: bold;
          color: $primary-color;
        }

        .item-quantity {
          color: $tertiary-color;
        }
      }
    }
  }

  .total-amount {
    margin-top: 20px;
    font-size: 1.2rem;
    color: $primary-color;
    font-weight: bold;
    border-top: 2px solid $border-color;
    padding-top: 10px;
  }
}

.purchase-history-container p {
  color: #777;
  font-size: 1.2rem;
  text-align: center;
}

.payment-options-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.payment-options-modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.payment-options-modal button {
  margin: 10px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;

  &:hover {
    background-color: #45a049;
  }
}

.close-modal {
  background-color: #f44336;
  color: white;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: #e53935;
  }
}

.payment-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2196F3;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background-color: #0b7dda;
  }
}
